body {
    background-color: lightslategray;
    font-family: 'Besley', serif;
    font-weight: 300;
    text-align: center;
}
.title {
    text-align: center;
    text-transform: uppercase;
}
hr {
    list-style:
}
.flex-container {
    flex-direction: column;
}
.left-column{
    width: 33.33%;
    height: fit-content;
    float: left;
    background-color: lightsteelblue;
}
.middle-column {
    width: 33.33%;
    height: fit-content;
    float: left;
    background-color: lightsteelblue;
}
.right-column {
    width: 33.33%;
    height: fit-content;
    float: right;
    background-color: lightsteelblue;
}
.navigation {
    text-align: center;
}
.index-link {
    text-decoration: none;
    color: #000;
}
img {
    border: 5px lightsteelblue solid;
    border-radius: 0%;
    width: 350px;
    height: 400px;
}
ul {
    text-align: left;
}